# Series Data Structure

In [1]:
import pandas as pd # Let's import Pandas with pd.

### One dimensional Array 
[1,2,3,4....]

In [2]:
obj=pd.Series([1,"John",3.5,"Hey"])
type(obj)

pandas.core.series.Series

In [10]:
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [6]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [11]:
obj2=pd.Series([1,"John",3.5,"Hey"],index=["a","b","c","d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [12]:
obj2["d"]

'Hey'

In [13]:
obj2.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [14]:
score={"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
names=pd.Series(score) # Convert to Series 
names

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [16]:
names["Tom"]

75

In [18]:
names[names>=85]

Jane    90
Elon    85
Tim     95
dtype: int64

In [19]:
names["Tom"]=60
names

Jane    90
Bill    80
Elon    85
Tom     60
Tim     95
dtype: int64

In [20]:
names[names<=90]=83
names

Jane    83
Bill    83
Elon    83
Tom     83
Tim     95
dtype: int64

In [21]:
"Tom" in names

True

In [22]:
"Can" in names

False

In [24]:
names/10

Jane    8.3
Bill    8.3
Elon    8.3
Tom     8.3
Tim     9.5
dtype: float64

In [25]:
names**2

Jane    6889
Bill    6889
Elon    6889
Tom     6889
Tim     9025
dtype: int64

In [26]:
names['Gill'] = None
names.isnull()

Jane    False
Bill    False
Elon    False
Tom     False
Tim     False
Gill     True
dtype: bool