In [2]:
from  mysql.connector import connect
from mysql.connector import Error 
conn = connect(
            host='localhost',
            database='employee',
            user='root',
            password='admin',
            port=3306
        )

## Creating a Table

In [3]:
cursor = conn.cursor()
cursor.execute('use employee;')

create_table_query = '''CREATE TABLE Employee(id INT NOT NULL, first_name VARCHAR(255), 
    last_name VARCHAR(100), email VARCHAR(150), 
    gender VARCHAR(50), phone VARCHAR(100));'''
cursor.execute("drop table employee")
cursor.execute(create_table_query)
cursor.close()

True

## Inserting data into Table

In [4]:
# creating a cursor to perform a sql operation
cursor = conn.cursor()

# sql query
query = '''
    INSERT INTO employee (id, first_name, last_name, email, gender, phone) VALUES (%s, %s, %s, %s, %s, %s);
    '''

try:
    data = (1, 'Marga', 'Cronchey', 'mcronchey0@pen.io', 'F', '314-289-7265')
    # execute the command
    cursor.execute(query, data)
    # commit the changes
    conn.commit()
    print('{} record inserted'.format(cursor.rowcount))
except(Exception, Error) as error:
    print(error)
finally:
    if conn is not None:
        cursor.close()

1 records inserted

## Insert Multiple records

In [5]:
# creating a cursor to perform a sql operation
cursor = conn.cursor()

# sql query
query = '''
    INSERT INTO employee (id, first_name, last_name, email, gender, phone) VALUES (%s, %s, %s, %s, %s, %s);
    '''

try:
    data = [
                (6, 'Marga', 'Cronchey', 'mcronchey0@pen.io', 'F', '314-289-7265'),
                (2, 'Theda', 'Mushrow', 'tmushrow1@whitehouse.gov', 'F', '804-163-9834'),
                (3, 'Marielle', 'Bonicelli', 'mbonicelli2@sitemeter.com', 'F', '624-922-2416'),
                (4, 'Locke', 'Watkinson', 'lwatkinson3@accuweather.com', 'M', '456-260-1052'),
                (5, 'Blakelee', 'Wilcot', 'bwilcot4@twitpic.com', 'M', '608-344-4090')
            ]

    # execute the command
    cursor.executemany(query, data)
    # commit the changes
    conn.commit()
    print('{} records inserted'.format(cursor.rowcount))
except(Exception, Error) as error:
    print(error)
finally:
    if conn is not None:
        cursor.close()

5 records inserted

## Select from Employee Table

In [48]:
# get total number of records
def get_records_count(cursor):
    # execute the command
    cursor.execute('''SELECT * FROM employee;''')
    return len(cursor.fetchall())


# get by id
def get_by_id(cursor, eid):
    # sql query
    query = '''SELECT * FROM employee WHERE id = %s;'''
    # execute the command
    cursor.execute(query, [eid])
    return cursor.fetchone()

## Delete a record

In [22]:
# delete a record
def delete(cursor, eid):
    # creating a cursor to perform a sql operation
    cursor = conn.cursor()

    # sql query
    query = '''DELETE FROM employee WHERE id = %s;'''

    try:
        record = get_by_id(cursor, eid)
        if record is None:
            print('Employee id = {} not found'.format(eid))
        else:
            # execute the command
            cursor.execute(query, [eid])
            # commit the changes
            conn.commit()

            print('Employee id = {} deleted successfully'.format(eid))
    except(Exception, Error) as error:
        print(error)
    finally:
        if conn is not None:
            cursor.close()
            print('\n Cursor closed')
delete(conn,6)

## Update

In [49]:
# update a record
def update(conn, eid):
    # creating a cursor to perform a sql operation
    cursor = conn.cursor()

    # sql query
    query = '''UPDATE employee SET gender = %s WHERE id = %s;'''

    try:
        # Check whether record is available for the person 
        record = get_by_id(cursor, eid)
        if record is None:
            print('Employee id = {} not found'.format(eid))
        else:
            # execute the command
            cursor.execute(query, ['F', eid])
            # commit the changes
            conn.commit()

            print('Employee id = {} updated successfully'.format(eid))
    except(Exception, Error) as error:
        print(error)
    finally:
        if conn is not None:
            cursor.close()

# input connection object and Id 
update(conn, 5)

Employee id = 5 updated successfully